/* HELPER CSS */
.heading,
.sub-heading {
  font-weight: 800;
}

.heading {
  font-size: 2.4rem;
  transition: color 0.44s ease-in-out;
  cursor: pointer;
}

.heading:hover {
  color: var(--yellow);
}

.grid--cont {
  display: grid;
}

.flex--cont {
  display: flex;
  align-items: center;
}

.grid--1 {
  grid-template-columns: 1fr;
}
